<h1>Edit Space: <%= @space.name %></h1>

<%= form_for @space do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit 'Save Changes' %>
<% end %>

<br>
<br>

<h2>Images</h2>

<% if @photos %>
  <% @photos.each do |photo| %>
    <p>
      <%= photo.name %>
      <%= image_tag photo.image, id: photo.name %>
    </p>
  <% end %>
<% end %>

<div id="add_image">
  <%= form_for @new_photo, multipart: true do |f| %>
    <%= f.hidden_field :album_id %>

    <%= f.label 'Image Name' %>
    <%= f.text_field :name %>

    <%= f.label :file %>
    <%= f.file_field :image %>

    <%= f.submit "Upload" %>
  <% end %>
</div>
