<h1>Edit Space: <%= @space.name %></h1>

<br>
<p>Current Name: <%= @space.name %></p>
<p>Current Description: <%= @space.description %></p>
  
<br>

<div id='edit_space'>
  <h4>Edit Space Details</h4>
  <%= form_for @space do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :twitter %>
    <%= f.text_field :twitter %>

    <%= f.submit 'Save Changes' %>
  <% end %>
</div>
<br>
<br>
<%= link_to 'Add Image', new_space_photo_path(@space) %>
<% if @photos %>
<h2>Images</h2>
  <% @photos.each do |photo| %>
    <% unless photo.name == nil %>
      <p>
      <h4><%= photo.name %> </h4>
      <%= image_tag photo.image_url(:medium), id: photo.name %><br>


      <%= link_to 'Edit Image', edit_space_photo_path(@space, photo) %><br>
      <%= link_to 'Delete Image', space_photo_path(@space, photo), data: {confirm: 'Are you sure?' }, method: :delete, id: photo.name %>
      </p>
    <% end %>
  <% end %>
<% end %>

<br>
<br>

