<h1><%= @space.name %></h1>
  
<br>
<p>
  Website: <%= @space.website %>
</p><p>
  Twitter handle: <%= @space.twitter_link %>
</p>

<p>
  <%= @space.description %>
</p>

<br>

<div id='space_photos'>
  <%= render @space.photos %>
</div>