<h1><%= @space.name %></h1>
  
<br>
<p>
  Twitter handle: <%= @space.twitter_handle %>
</p>

<p>
  <%= @space.description %>
</p>

<div id='space_details'>
  Website: <%= @space.link %>
</div>

<br>

<div id='space_photos'>
  <%= render @space.photos %>
</div>
