<h1><%= @space.name %></h1>
  
<br>
<p>
  Twitter handle: <%= @space.twitter %>
</p>

<p>
  <%= @space.description %>
</p>

<div id='space_details'>
  <% if @space.url %>
    Website: <%= link_to @space.url, @space.url %>
  <% end %>
</div>

<br>

<div id='space_photos'>
  <%= render @space.photos %>
</div>