<h1>Your Account</h1>
<p>
  Email: <%= @user.email %>
</p>

<br>

<% if @pages.any? %>
  <h2>Your Spaces</h2><br>
  <% @pages.each do |space| %>
    <h4><%= space.name %></h4>
    <%= link_to 'Edit Page', edit_space_path(space) %> | 
    <%= link_to 'View Page', space_path(space) %><br>
    <%= link_to 'Manage Subscription', space_subscriptions_path(space) %>
    <br><br>

  <% end %>
<% end %>