<h1>Edit Image</h1>
<%= image_tag @photo.image %>
<%= form_for [@space, @photo] do |f| %>

  <%= f.label 'Image Name' %>
  <%= f.text_field :name %>

  <%= f.submit "Save" %>
<% end %>
<%= link_to 'Delete Image', space_photo_path(@space, @photo), data: {confirm: 'Are you sure?' }, method: :delete, id: @photo.name %>
